<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleAdminSides.css">
    <script src="scriptLoggOut.js" defer></script>
    <title>Admin</title>
</head>
<body>
    <div id="adminContent">
        <h1>Adminsida</h1>
        <a th:href=@{createMember}><h3 id="adminRed">Lägg till medlemmar</h3></a>
        <a th:href=@{showList}><h3 id="adminRed">Visa och radera medlemmar</h3></a>
        <a  th:href=@{/}><button id="loggOutBtn"><h4 id="adminRed">Logg Out</h4></button> </a>  
    </div>
    
        
      
       
       
  
    
</body>
</html>