<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <script src="scriptLoggIn.js" defer></script>
    <link rel="stylesheet" href="styleLoggIn.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logg in</title>
</head>
<body>
    <div id="loggInContent">
        <h2 id="loggInHead">Hello User  Logg in</h2>
   
        <h5>Användernamn</h5>
        <input id="loggInName" type="text">
        <a  th:href=@{/}> <button id="loggInBtn1">check</button></a>
        <br/>
        <h5>Lösenord</h5>
        <input id="loggInPassword" type="text">
        <a  th:href=@{/}> <button id="loggInBtn2">check</button></a>
        
       <br/>
        <br/>
        
        <a th:href=@{/onlyList}><button id="loggInVisaBtn"><h4>Titta på medlemmarna!</h4></button></a><br/><br/>
        <img id="Laughing" src="Laughing.jpg">
    </div>
   
   
    
</body>
</html>