body{
    background-color: rgb(133, 204, 180);
}
#loggInVisaBtn{
    color: rgb(113, 9, 231);
    background-color: rgb(233, 171, 219);
    height: 55px;
    width: 250px;
}
#loggInHead{
    color: rgb(48, 37, 197);
}
#Laughing{
    width: 200px;
    height:200px;
    margin:20px 25px;
}
#loggInContent{
    padding-inline-start: 400px;

}
#adminLink{
    padding:4px 12px;
    margin:0px 475px;
    font-size: 20px;
}

